# Este es un primer acercamiento a python

## Definición de paquetes

In [ ]:
#-*- coding: utf-8 -*-
#!/usr/bin/env python
# ------------------------------

import numpy as np

## Definiendo tipos de variables

### Variables alfanumericas

In [1]:
# Definiendo tipos de variables

x = 3.1416
str_x = 'pi_number'

print (x, 'el tipo de dato: ', type(x))
print (str_x, 'el tipo de dato: ',type(str_x))

3.1416 el tipo de dato:  <class 'float'>
pi_number el tipo de dato:  <class 'str'>

In [2]:
str_y = "7.78"
print (str_y + 2.)

TypeError: can only concatenate str (not "float") to str

In [3]:
num_y = float(str_y)
print (num_y + 2.)

9.780000000000001

### Operaciones con cadenas de caracteres

In [4]:
my_name1 = u"Julián Sepúlveda Berrío"
my_name2 = "*julian sepulveda berrio*"

print (my_name1)

Julián Sepúlveda Berrío

In [7]:
my_name_mod = my_name2.replace('*', ' ')
print (my_name_mod)
my_name_mod = my_name_mod.strip()
print (my_name_mod)
print ('La cantidad de letras e es: ', my_name_mod.count('e'))
cut_myname = my_name_mod.split(' ')
print (cut_myname)
name = cut_name

 julian sepulveda berrio
julian sepulveda berrio
['julian', 'sepulveda', 'berrio']

In [ ]:
tupla_1 = (1.3, 6.) # definicion de una tupla
print (tupla_1[1])

6.0

In [ ]:
tupla_1[1] = 12.

TypeError: ignored

In [ ]:
tupla_sum = tupla_1 + 2.

TypeError: ignored