# Generalidades de Pandas

In [1]:
#-*- coding: utf-8 -*-
#!/usr/bin/env python
# ------------------------------

import numpy as np
import pandas as pd

In [4]:
# Lectura de los datos

path_data = '/Users/jsepulveda/Documents/asignaturas/curso_PythonBasico/datos/'
name_data = 'ppt_dona_maria_2.csv'

data1 = pd.read_csv(path_data + name_data, sep = ',')

In [3]:
print (data1)

                fecha_hora    ppt
0      2013-01-01 01:00:00    0.0
1      2013-01-01 02:00:00    0.0
2      2013-01-01 03:00:00    0.0
3      2013-01-01 04:00:00    0.0
4      2013-01-01 05:00:00    0.0
...                    ...    ...
71539  2021-02-28 20:00:00 -999.0
71540  2021-02-28 21:00:00 -999.0
71541  2021-02-28 22:00:00 -999.0
71542  2021-02-28 23:00:00 -999.0
71543  2021-03-01 00:00:00 -999.0

[71544 rows x 2 columns]

In [6]:
# asignamos el indice de forma manual
data1.set_index('fecha_hora')

                       ppt
fecha_hora
2013-01-01 01:00:00    0.0
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71544 rows x 1 columns]

In [8]:
# Lectura de los datos con encabezado y asignando el index desde la lectura  
data = pd.read_csv(path_data + name_data, sep = ',', index_col = 0)

In [9]:
data

                       ppt
fecha_hora
2013-01-01 01:00:00    0.0
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71544 rows x 1 columns]

In [10]:
# Pandas es lo sucientemente bueno para lograr una lectura eficiente
# Donde toma los encabezados y los convierte en Dataframes
# ¿Qué pasa cuando no tiene encabezado?

name_datanohead = 'ppt_dona_maria_2_noheader.csv'

data_nohead = pd.read_csv(path_data + name_datanohead)

In [11]:
data_nohead

       2013-01-01 01:00:00     0.000
0      2013-01-01 02:00:00       0.0
1      2013-01-01 03:00:00       0.0
2      2013-01-01 04:00:00       0.0
3      2013-01-01 05:00:00       0.0
4      2013-01-01 06:00:00       0.0
...                    ...       ...
71538  2021-02-28 20:00:00    -999.0
71539  2021-02-28 21:00:00    -999.0
71540  2021-02-28 22:00:00    -999.0
71541  2021-02-28 23:00:00    -999.0
71542  2021-03-01 00:00:00    -999.0

[71543 rows x 2 columns]

In [17]:
data_nohead.columns = ['fecha_hora', 'ppt']
print (data_nohead)

                fecha_hora    ppt
0      2013-01-01 02:00:00    0.0
1      2013-01-01 03:00:00    0.0
2      2013-01-01 04:00:00    0.0
3      2013-01-01 05:00:00    0.0
4      2013-01-01 06:00:00    0.0
...                    ...    ...
71538  2021-02-28 20:00:00 -999.0
71539  2021-02-28 21:00:00 -999.0
71540  2021-02-28 22:00:00 -999.0
71541  2021-02-28 23:00:00 -999.0
71542  2021-03-01 00:00:00 -999.0

[71543 rows x 2 columns]

In [18]:
data_nohead.set_index('fecha_hora') # Asignamos la fecha como el indice

                       ppt
fecha_hora
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
2013-01-01 06:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71543 rows x 1 columns]

In [19]:
print (data_nohead) # La instrucción anterior aplica al DataFrame pero no asigna

                fecha_hora    ppt
0      2013-01-01 02:00:00    0.0
1      2013-01-01 03:00:00    0.0
2      2013-01-01 04:00:00    0.0
3      2013-01-01 05:00:00    0.0
4      2013-01-01 06:00:00    0.0
...                    ...    ...
71538  2021-02-28 20:00:00 -999.0
71539  2021-02-28 21:00:00 -999.0
71540  2021-02-28 22:00:00 -999.0
71541  2021-02-28 23:00:00 -999.0
71542  2021-03-01 00:00:00 -999.0

[71543 rows x 2 columns]

In [20]:
data_nohead = data_nohead.set_index('fecha_hora')

In [39]:
# Luego de ver que se puede hacer con diferentes tipos de encabezados
# continuamos trabajando con "data"

data.index = pd.to_datetime(data.index)
hourly = data.resample('H', label = 'right', closed = 'left').sum().copy()

print (np.min(data.index))
print (np.max(data.index))
hourly.keys()

2013-01-01 01:00:00
2021-03-01 00:00:00

Index([' ppt'], dtype='object')

In [45]:
date_teo = pd.date_range('2013-01-01 01:00:00', '2021-03-01 00:00:00', freq = '1H')
hourly.reindex(date_teo)
daily    = hourly.resample('D', label = 'right', closed = 'left').sum().copy()
aa = daily[' ppt'].values
diasppt = (np.where(aa > 0.))[0]
print (hourly.loc[hourly.index.hour == 1])

                       ppt
fecha_hora
2013-01-02 01:00:00    0.0
2013-01-03 01:00:00    0.0
2013-01-04 01:00:00    0.0
2013-01-05 01:00:00    0.0
2013-01-06 01:00:00    0.0
...                    ...
2021-02-25 01:00:00 -999.0
2021-02-26 01:00:00 -999.0
2021-02-27 01:00:00 -999.0
2021-02-28 01:00:00 -999.0
2021-03-01 01:00:00 -999.0

[2981 rows x 1 columns]

In [21]:
# Lectura de archivos
name_excel  = '3_2017v1.xlsx'
name_sheet1 = "Consolidado"

df_ozono = pd.read_excel(path_data + name_excel,sheet_name=name_sheet1,\
                   usecols=[0,14,34],\
                   skipfooter = 0, index_col=0,\
                   parse_dates=[0])
df_ozono['ozono'] = df_ozono.ozono.values * (47.997/24.45)

In [23]:
# Hicimos un copy para jugar con el DF
#generamos una nueva variable que se actualizó con 
# una condicion
df_ozono2 = df_ozono.copy()
df_ozono3 = df_ozono.copy()
df_ozono2.index = pd.to_datetime(df_ozono2.index)
df_ozono2['vviento_ssr'].loc[df_ozono2['vviento_ssr'].values < -9000.] = np.nan
df_ozono3['triste'] = np.ones(len(df_ozono3))*-999.
df_ozono3['triste'].loc[df_ozono3['vviento_ssr'] >= 4] = df_ozono3['ozono']*2000.

In [24]:
# Con una condicion dejamos la serie incompleta
# Creamos un vector de tiempo teorico
# Reindexamos el data frame
df_ozono2 = df_ozono2.loc[(df_ozono2['ozono'] >= 15.) & (df_ozono2['vviento_ssr'] <= 4.)]

date_teo = pd.date_range('2017-01-01 00:00:00',\
                        '2017-12-31 23:00:00',\
                        freq = 'H')

df_ozono2 = df_ozono2.reindex(date_teo)
df_ozono['vviento_ssr'].loc[df_ozono['vviento_ssr'] < -9000.] = np.nan
df_ozono['ozono_roll'] = df_ozono['ozono'].rolling(8, 8).mean()
print (df_ozono)

                         ozono  vviento_ssr  ozono_roll
Fecha_Hora
2017-01-01 00:00:00   1.380146     0.602249         NaN
2017-01-01 01:00:00   1.697400     0.552654         NaN
2017-01-01 02:00:00   1.805694     0.510059         NaN
2017-01-01 03:00:00   1.470883     0.210166         NaN
2017-01-01 04:00:00   2.001347     2.223460         NaN
...                        ...          ...         ...
2017-12-31 19:00:00  30.052600          NaN   47.350169
2017-12-31 20:00:00   8.774912          NaN   41.921061
2017-12-31 21:00:00   2.575545          NaN   35.109217
2017-12-31 22:00:00   8.150656          NaN   29.285777
2017-12-31 23:00:00  10.794908          NaN   24.592819

[8760 rows x 3 columns]

In [25]:
for ii in range(0,7):
    df_ozono['ozono_roll'].loc[df_ozono.index.hour == ii] = np.nan
print(df_ozono)

                         ozono  vviento_ssr  ozono_roll
Fecha_Hora
2017-01-01 00:00:00   1.380146     0.602249         NaN
2017-01-01 01:00:00   1.697400     0.552654         NaN
2017-01-01 02:00:00   1.805694     0.510059         NaN
2017-01-01 03:00:00   1.470883     0.210166         NaN
2017-01-01 04:00:00   2.001347     2.223460         NaN
...                        ...          ...         ...
2017-12-31 19:00:00  30.052600          NaN   47.350169
2017-12-31 20:00:00   8.774912          NaN   41.921061
2017-12-31 21:00:00   2.575545          NaN   35.109217
2017-12-31 22:00:00   8.150656          NaN   29.285777
2017-12-31 23:00:00  10.794908          NaN   24.592819

[8760 rows x 3 columns]

In [26]:
def hourstand(serie): #ingresa dataframe
    serie['stand'] = np.ones(len(serie)) * -999.
    mean_array = np.empty((24))
    std_arr    = np.empty((24))
    for i in np.arange(0,24):
        dumm = serie.loc[serie.index.hour == i]
        mean_h = np.nanmean(dumm.ozono.values)
        std_h  = np.nanstd(dumm.ozono.values)
        mean_array[i] = mean_h
        std_arr[i]    = std_h 
        serie['stand'].loc[serie.index.hour == i] = \
        (serie['ozono'].loc[serie.index.hour == i] - mean_h)/std_h
    return mean_array, std_arr, serie

In [27]:
media_h, std_h, ozono_std = hourstand(df_ozono)