# Generalidades de Pandas

## Impotación de paquetes necesarios

In [5]:
#-*- coding: utf-8 -*-
#!/usr/bin/env python
# ------------------------------

import numpy as np
import pandas as pd

## Repaso del uso de "lambda"

Lambda se puede usar para definir funciones que luego pueden ser evaludas es así como al ingresar dos variables y una operación algenbraica entre ellas, la función lambda debe ser evaluada ingresando exactamente dos parámetros.

In [6]:
una_funcion = lambda julian, junes: julian**2. + junes

print (una_funcion(9., 10.))

91.0

Para el caso de una lista en la cual la función definidad con lambda quiere ser aplicada a todos los elementos de la lista, esta puede ser definida por fuera del map o dentro del mismo:

In [7]:
bb = np.arange(0, 200, 1)
otra_funcion = lambda x: x/2. + 4.

bb_new  = list(map(otra_funcion, bb))
bb_new2 = list(map(lambda x: x/2. + 4., bb))
print (bb_new2)

[4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0, 46.5, 47.0, 47.5, 48.0, 48.5, 49.0, 49.5, 50.0, 50.5, 51.0, 51.5, 52.0, 52.5, 53.0, 53.5, 54.0, 54.5, 55.0, 55.5, 56.0, 56.5, 57.0, 57.5, 58.0, 58.5, 59.0, 59.5, 60.0, 60.5, 61.0, 61.5, 62.0, 62.5, 63.0, 63.5, 64.0, 64.5, 65.0, 65.5, 66.0, 66.5, 67.0, 67.5, 68.0, 68.5, 69.0, 69.5, 70.0, 70.5, 71.0, 71.5, 72.0, 72.5, 73.0, 73.5, 74.0, 74.5, 75.0, 75.5, 76.0, 76.5, 77.0, 77.5, 78.0, 78.5, 79.0, 79.5, 80.0, 80.5, 81.0, 81.5, 82.0, 82.5, 83.0, 83.5, 84.0, 84.5, 85.0, 85.5, 86.0, 86.5, 87.0, 87.5, 88.0, 88.5, 89.0, 89.5, 90.0, 90.5, 91.0, 91.5, 92.0, 92.5, 93.0, 93.5, 94.0, 94.5, 95.0, 95.5, 96.0, 96.5, 97.0, 97.5, 98.0, 98.5, 99.0, 99.5, 100.0, 100.5, 101.0, 101.5, 102.0, 102.5, 103.0, 103.5]

## Creación de DataFrames de pandas

In [8]:
df_bb = pd.DataFrame({'bb': bb, 'bb_new':bb_new}, index = np.arange(100, 300,1))
print (df_bb['bb'].values[0])
print (df_bb.index)
df_bb

0
Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
            ...
            290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
           dtype='int64', length=200)

      bb  bb_new
100    0     4.0
101    1     4.5
102    2     5.0
103    3     5.5
104    4     6.0
..   ...     ...
295  195   101.5
296  196   102.0
297  197   102.5
298  198   103.0
299  199   103.5

[200 rows x 2 columns]

## Lectura de archivos de texto plano usando Pandas
Cuando se usa pandas para leer los datos, tenemos una gran ventaja que los datos quedan leídos como un DataFrame. La función para hacer esto es read_csv de pandas y esta función recibe como entrada la ruta completa donde está el archivo y el nombre del mismo, el separador ..... entre otros parámetros (Al estudiante se le invitó a ver la documentación para que explire toda la cantidad de parámetros disponibles y sus utilidades).
En los siguientes bloques se ejemplifica como leer y asignar la fecha como indice en el DataFrame.

In [13]:
# Lectura de los datos

path_data = '/Users/jsepulveda/Documents/asignaturas/curso_PythonBasico/datos/'
name_data = 'ppt_dona_maria_2.csv'

data1 = pd.read_csv(path_data + name_data, sep = ',')

In [14]:
print (data1)

                fecha_hora    ppt
0      2013-01-01 01:00:00    0.0
1      2013-01-01 02:00:00    0.0
2      2013-01-01 03:00:00    0.0
3      2013-01-01 04:00:00    0.0
4      2013-01-01 05:00:00    0.0
...                    ...    ...
71539  2021-02-28 20:00:00 -999.0
71540  2021-02-28 21:00:00 -999.0
71541  2021-02-28 22:00:00 -999.0
71542  2021-02-28 23:00:00 -999.0
71543  2021-03-01 00:00:00 -999.0

[71544 rows x 2 columns]

In [15]:
# asignamos el indice de forma manual
data1.set_index('fecha_hora')

                       ppt
fecha_hora
2013-01-01 01:00:00    0.0
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71544 rows x 1 columns]

In [16]:
# Lectura de los datos con encabezado y asignando el index desde la lectura  
data = pd.read_csv(path_data + name_data, sep = ',', index_col = 0)

In [17]:
data

                       ppt
fecha_hora
2013-01-01 01:00:00    0.0
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71544 rows x 1 columns]

In [18]:
# Pandas es lo sucientemente bueno para lograr una lectura eficiente
# Donde toma los encabezados y los convierte en Dataframes
# ¿Qué pasa cuando no tiene encabezado?

name_datanohead = 'ppt_dona_maria_2_noheader.csv'

data_nohead = pd.read_csv(path_data + name_datanohead, sep = ',')

In [19]:
data_nohead

       2013-01-01 01:00:00     0.000
0      2013-01-01 02:00:00       0.0
1      2013-01-01 03:00:00       0.0
2      2013-01-01 04:00:00       0.0
3      2013-01-01 05:00:00       0.0
4      2013-01-01 06:00:00       0.0
...                    ...       ...
71538  2021-02-28 20:00:00    -999.0
71539  2021-02-28 21:00:00    -999.0
71540  2021-02-28 22:00:00    -999.0
71541  2021-02-28 23:00:00    -999.0
71542  2021-03-01 00:00:00    -999.0

[71543 rows x 2 columns]

In [20]:
data_nohead.columns = ['fecha_hora', 'ppt']
print (data_nohead)

                fecha_hora    ppt
0      2013-01-01 02:00:00    0.0
1      2013-01-01 03:00:00    0.0
2      2013-01-01 04:00:00    0.0
3      2013-01-01 05:00:00    0.0
4      2013-01-01 06:00:00    0.0
...                    ...    ...
71538  2021-02-28 20:00:00 -999.0
71539  2021-02-28 21:00:00 -999.0
71540  2021-02-28 22:00:00 -999.0
71541  2021-02-28 23:00:00 -999.0
71542  2021-03-01 00:00:00 -999.0

[71543 rows x 2 columns]

In [21]:
data_nohead.set_index('fecha_hora') # Asignamos la fecha como el indice

                       ppt
fecha_hora
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
2013-01-01 06:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71543 rows x 1 columns]

In [22]:
print (data_nohead) # La instrucción anterior aplica al DataFrame pero no asigna

                fecha_hora    ppt
0      2013-01-01 02:00:00    0.0
1      2013-01-01 03:00:00    0.0
2      2013-01-01 04:00:00    0.0
3      2013-01-01 05:00:00    0.0
4      2013-01-01 06:00:00    0.0
...                    ...    ...
71538  2021-02-28 20:00:00 -999.0
71539  2021-02-28 21:00:00 -999.0
71540  2021-02-28 22:00:00 -999.0
71541  2021-02-28 23:00:00 -999.0
71542  2021-03-01 00:00:00 -999.0

[71543 rows x 2 columns]

In [23]:
data_nohead = data_nohead.set_index('fecha_hora')

In [24]:
# Luego de ver que se puede hacer con diferentes tipos de encabezados
# continuamos trabajando con "data"

data.index = pd.to_datetime(data.index)

In [25]:
print (data)

                       ppt
fecha_hora
2013-01-01 01:00:00    0.0
2013-01-01 02:00:00    0.0
2013-01-01 03:00:00    0.0
2013-01-01 04:00:00    0.0
2013-01-01 05:00:00    0.0
...                    ...
2021-02-28 20:00:00 -999.0
2021-02-28 21:00:00 -999.0
2021-02-28 22:00:00 -999.0
2021-02-28 23:00:00 -999.0
2021-03-01 00:00:00 -999.0

[71544 rows x 1 columns]

## Uso de herramientas útilies como reindex, resample, date_range, loc

In [26]:
hourly = data.resample('H', label = 'right', closed = 'left').sum().copy()
print (np.min(data.index))
print (np.max(data.index))

aa = hourly.loc[(hourly.index > '2021-02-01 00:00:00')]
hourly.keys()

2013-01-01 01:00:00
2021-03-01 00:00:00

Index([' ppt'], dtype='object')

In [27]:
date_teo = pd.date_range('2013-01-01 01:00:00', '2021-03-01 00:00:00', freq = '1H')
hourly.reindex(date_teo)
daily    = hourly.resample('D', label = 'left', closed = 'left').sum().copy()
daily

ppt_aa = daily[' ppt'].values
print (len(ppt_aa))
dias_noppt = (np.where(ppt_aa == 0.))[0]
print (len(dias_noppt))
dias_noppt

2982
303

array([   0,    1,    2,    4,    5,    6,    7,    8,    9,   10,   17,
         25,   26,   36,   46,   49,   55,   60,   64,   68,   69,   81,
         84,   85,   90,   92,   93,   95,   96,   97,   98,  102,  103,
        152,  156,  157,  158,  159,  160,  170,  171,  176,  182,  184,
        190,  194,  195,  198,  201,  204,  205,  208,  209,  210,  215,
        217,  225,  239,  246,  300,  304,  314,  319,  328,  337,  339,
        344,  345,  346,  360,  362,  363,  364,  365,  367,  368,  372,
        378,  379,  380,  381,  382,  383,  387,  388,  391,  399,  403,
        404,  417,  420,  462,  464,  467,  468,  482,  488,  497,  509,
        510,  511,  524,  527,  528,  532,  533,  534,  544,  553,  554,
        555,  556,  557,  558,  559,  561,  562,  563,  564,  565,  566,
        567,  568,  569,  570,  574,  575,  576,  577,  579,  587,  591,
        592,  593,  597,  600,  606,  607,  609,  612,  613,  615,  616,
        623,  660,  664,  670,  671,  683,  684,  693,  696,  697,  698,
        699,  700,  701,  712,  715,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  742,  743,  744,  745,  747,  748,  754,  757,  758,
        762,  763,  764,  772,  774,  775,  776,  777,  781,  782,  783,
        785,  787,  790,  791,  793,  794,  797,  798,  799,  803,  804,
        814,  815,  824,  831,  841,  842,  843,  844,  846,  848,  851,
        855,  858,  859,  860,  861,  862,  882,  884,  885,  886,  887,
        893,  897,  898,  899,  900,  901,  903,  904,  905,  906,  908,
        909,  910,  911,  912,  913,  914,  915,  920,  923,  934,  935,
        936,  937,  938,  941,  944,  946,  951,  956,  970,  971,  974,
        975,  976,  977,  979,  981,  984,  985,  986,  987,  988,  995,
        996,  997,  998,  999, 1000, 1001, 1021, 1023, 1036, 1045, 1046,
       1062, 1063, 1064, 1065, 1069, 1070, 1073, 1074, 1075, 1080, 1083,
       1084, 1085, 1089, 1091, 1092, 1093])

In [28]:
df_dias_noppt = daily.loc[daily[' ppt'] == 0.]
print (df_dias_noppt)

             ppt
fecha_hora
2013-01-01   0.0
2013-01-02   0.0
2013-01-03   0.0
2013-01-05   0.0
2013-01-06   0.0
...          ...
2015-12-22   0.0
2015-12-26   0.0
2015-12-28   0.0
2015-12-29   0.0
2015-12-30   0.0

[303 rows x 1 columns]

In [29]:
df_filter_1h = hourly.loc[hourly.index.hour == 1]

print (df_filter_1h)

                       ppt
fecha_hora
2013-01-02 01:00:00    0.0
2013-01-03 01:00:00    0.0
2013-01-04 01:00:00    0.0
2013-01-05 01:00:00    0.0
2013-01-06 01:00:00    0.0
...                    ...
2021-02-25 01:00:00 -999.0
2021-02-26 01:00:00 -999.0
2021-02-27 01:00:00 -999.0
2021-02-28 01:00:00 -999.0
2021-03-01 01:00:00 -999.0

[2981 rows x 1 columns]

In [30]:
# Lectura de archivos
name_excel  = '3_2017v1.xlsx'
name_sheet1 = "Consolidado"

df_ozono = pd.read_excel(path_data + name_excel,sheet_name=name_sheet1,\
                   usecols=[0,14,34],\
                   skipfooter = 0, index_col=0,\
                   parse_dates=[0])
df_ozono['ozono'] = df_ozono.ozono.values * (47.997/24.45)

In [31]:
# Hicimos un copy para jugar con el DF
#generamos una nueva variable que se actualizó con 
# una condicion
df_ozono2 = df_ozono.copy()
df_ozono3 = df_ozono.copy()
df_ozono2.index = pd.to_datetime(df_ozono2.index)
df_ozono2['vviento_ssr'].loc[df_ozono2['vviento_ssr'].values < -9000.] = np.nan
df_ozono3['triste'] = np.ones(len(df_ozono3))*-999.
df_ozono3['triste'].loc[df_ozono3['vviento_ssr'] >= 4] = df_ozono3['ozono']*2000.

In [32]:
# Con una condicion dejamos la serie incompleta
# Creamos un vector de tiempo teorico
# Reindexamos el data frame
df_ozono2 = df_ozono2.loc[(df_ozono2['ozono'] >= 15.) & (df_ozono2['vviento_ssr'] <= 4.)]

date_teo = pd.date_range('2017-01-01 00:00:00',\
                        '2017-12-31 23:00:00',\
                        freq = 'H')

df_ozono2 = df_ozono2.reindex(date_teo)
df_ozono['vviento_ssr'].loc[df_ozono['vviento_ssr'] < -9000.] = np.nan
df_ozono['ozono_roll'] = df_ozono['ozono'].rolling(8, 8).mean()
print (df_ozono)

                         ozono  vviento_ssr  ozono_roll
Fecha_Hora
2017-01-01 00:00:00   1.380146     0.602249         NaN
2017-01-01 01:00:00   1.697400     0.552654         NaN
2017-01-01 02:00:00   1.805694     0.510059         NaN
2017-01-01 03:00:00   1.470883     0.210166         NaN
2017-01-01 04:00:00   2.001347     2.223460         NaN
...                        ...          ...         ...
2017-12-31 19:00:00  30.052600          NaN   47.350169
2017-12-31 20:00:00   8.774912          NaN   41.921061
2017-12-31 21:00:00   2.575545          NaN   35.109217
2017-12-31 22:00:00   8.150656          NaN   29.285777
2017-12-31 23:00:00  10.794908          NaN   24.592819

[8760 rows x 3 columns]

In [33]:
for ii in range(0,7):
    df_ozono['ozono_roll'].loc[df_ozono.index.hour == ii] = np.nan
print(df_ozono)

                         ozono  vviento_ssr  ozono_roll
Fecha_Hora
2017-01-01 00:00:00   1.380146     0.602249         NaN
2017-01-01 01:00:00   1.697400     0.552654         NaN
2017-01-01 02:00:00   1.805694     0.510059         NaN
2017-01-01 03:00:00   1.470883     0.210166         NaN
2017-01-01 04:00:00   2.001347     2.223460         NaN
...                        ...          ...         ...
2017-12-31 19:00:00  30.052600          NaN   47.350169
2017-12-31 20:00:00   8.774912          NaN   41.921061
2017-12-31 21:00:00   2.575545          NaN   35.109217
2017-12-31 22:00:00   8.150656          NaN   29.285777
2017-12-31 23:00:00  10.794908          NaN   24.592819

[8760 rows x 3 columns]

In [26]:
def hourstand(serie): #ingresa dataframe
    serie['stand'] = np.ones(len(serie)) * -999.
    mean_array = np.empty((24))
    std_arr    = np.empty((24))
    for i in np.arange(0,24):
        dumm = serie.loc[serie.index.hour == i]
        mean_h = np.nanmean(dumm.ozono.values)
        std_h  = np.nanstd(dumm.ozono.values)
        mean_array[i] = mean_h
        std_arr[i]    = std_h 
        serie['stand'].loc[serie.index.hour == i] = \
        (serie['ozono'].loc[serie.index.hour == i] - mean_h)/std_h
    return mean_array, std_arr, serie

In [27]:
media_h, std_h, ozono_std = hourstand(df_ozono)