# Este es un primer acercamiento a python

## Definición de paquetes

In [ ]:
#-*- coding: utf-8 -*-
#!/usr/bin/env python
# ------------------------------

import numpy as np

## Definiendo tipos de variables

### Variables alfanumericas

In [ ]:
# Definiendo tipos de variables

x = 3.1416
str_x = 'pi_number'

print (x, 'el tipo de dato: ', type(x))
print (str_x, 'el tipo de dato: ',type(str_x))

3.1416 el tipo de dato:  <class 'float'>
pi_number el tipo de dato:  <class 'str'>

In [ ]:
str_y = "7.78"
print (str_y + 2.)

TypeError: ignored

In [ ]:
num_y = float(str_y)
print (num_y + 2.)

9.780000000000001

### Operaciones con cadenas de caracteres

In [ ]:
my_name1 = u"Julián Sepúlveda Berrío"
my_name2 = "*julian sepulveda berrio*"

print (my_name1)

Julián Sepúlveda Berrío

In [ ]:
my

In [ ]:
tupla_1 = (1.3, 6.) # definicion de una tupla
print (tupla_1[1])

6.0

In [ ]:
tupla_1[1] = 12.

TypeError: ignored

In [ ]:
tupla_sum = tupla_1 + 2.

TypeError: ignored